[Unit]
Description=IP camera loader server service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/pi/services/ipcamera-loader/ipcamera-loaderd
WorkingDirectory=/home/pi/services/ipcamera-loader
KillMode=process
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target